* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.display-hidden {
    display: none;
}

.display-visible {
    display: block;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

body {
    color: #606060
}

/* game header */

header {
  width: 100%;
  padding: 20px 0px 20px 0px;
  text-align: center;
  background-color: #404041;
}

h1 {
  display: inline;
  font-size: 60px;
  color: #dd1972;
}

span {
  font-weight: normal;
}

.sub-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

hr {
  width: 95px;
  margin: 0px 10px 0px 10px;
}

header p {
  display: inline;
  font-size: 20px;
  color: white;
}

/* main body of game */

main {
  display: flex;
}

/* left column css */

.left-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #f7f7f7;
}

label {
  font-size: 20px;
}

button {
  background-color: #6e6e6e;
}

button[disabled] {
  background-color: #d0d2d3;
}

button:hover:enabled {
  cursor: pointer;
  background-color: #dd1792;
}

.error-icon {
  height: 20px;
  width: 20px;
  margin: 10px 4px 0px 0px;
}

/* set range box css */

.set-range-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  margin: 15px;
  padding: 25px 0px 0px 8px;
  background-color: white;
  border: 2px solid #EEEEEE;
}

.min-max-ranges {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.min-range-wrapper,
.max-range-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 2%;
}

#min-range-input,
#max-range-input {
  height: 35px;
  width: 235px;
}

.update-button {
  height: 35px;
  width: 130px;
  margin: 25px 0px 0px 30px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: bold;
  color: white;
}

.error-message {
  height: 30px;
  width: 235px;
  margin: 0px 0px 10px 250px;
  color: #dd1972;
}


.border-pink {
  border: 2px solid #dd1972;
}

/* Challenger Form */

.challenger-guess-form {
  display: flex;
  flex-direction: column;
  flex: 3;
  flex-wrap: wrap;
  margin: 15px;
  padding: 8px;
  border: 2px solid #EEEEEE;
  background-color: white;
}

.range {
  margin-bottom: 15px;
}

.range-top,
.range-bottom {
  display: inline-block;
  height: 10px;
  padding-bottom: 19px;
  border-bottom: 2px solid black;
  text-decoration: underline;
  font-weight: bold;
}

.horizontal-formatting {
 display: flex;
}

.vertical-formatting {
  display: flex;
  flex-direction: column;
}

.name-input {
  height: 35px;
  width: 390px;
}

.guess-form {
  margin-left: 3%;
}

.guess-input {
  height: 35px;
  width: 245px;
}

.guess-output h1 {
  color: #dd1972;
}

.submit-error-message {
  height: 40px;
  width: 375px;
  color: #dd1972;
}

.submit-guess {
  width: 230px;
}

.reset-game,
.clear-form {
  width: 180px;
}

.submit-guess,
.reset-game,
.clear-form {
  height: 35px;
  margin: 0 25px 10px 0px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: bold;
  color: white;
}

/* Latest Guess Box */

.latest-guess-output {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 2;
  margin: 15px;
  padding: 10px 0px px 0px;
  border: 2px solid #EEEEEE;
  background-color: white;
}

.latest-guess-output h2 {
  padding: 5px 0px 0px 8px;
}

.challenger-guess-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1% 6% 0% 6;
}

.challenger-1-guess {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8%;
}

.challenger-2-guess {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  align-items: center;
}

.challenger {
  margin-bottom: 30px;
}

.challenger-1-guess {
  margin-left: 5%;
}

.guess-output {
  height: 70px;
}

.no-guesses-yet {
  font-size: 20px;
}

#latest-guess-line {
  display: flex;
  flex-direction: column;
  padding: 0% 0% 5% 0%;
}

#latest-guess-line hr {
  width: 1px;
  height: 170px;
  color: #ECECEC;
}

/* CSS for right column */

.column2 {
  width: 50%;
  background-color: #d0d2d3;
}

/* CSS for game card pop-up */

.winner-card {
  margin: 24px 42px;
  padding:15px;
  border: 1px solid #b5b5b4;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
}

.card-title {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.winner-section {
  margin: 3%;
  font-size: 28px;
}

.winner {
  font-weight: 200;
}

.game-card-info {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding-top: 10px;
  font-size: 18px;
}

.card-stats span,
.card-winner-name,
.card-title p {
  font-weight: bold;
}

.card-time {
  margin-right: 8%;
}

button.close-card {
  height: 25px;
  width: 25px;
  background-color: #6e6e6e;
  border-radius: 50%;
}

.close-card-image {
height: 17px;
padding-top: 3px;
border-radius: 50%;
pointer-events: none;
}
